apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: react-app
  template:
    metadata:
      labels:
        app: react-app
    spec:
      containers:
        - name: react-app
          image: nsneeraj/gitops01:28029611f07e92c6fc25d2722dea815d4cd8fe1c
          imagePullPolicy: Always
          ports:
            - containerPort: 80
